.navbar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

body {
    background : #6b6d7d;
}

div {
    text-align: center;
    
}

li
{
    float : right;
    border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 1px solid #bbb;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.titletext
{
    color : white;
    font-size: 40px;
    border-right: 1px solid #bbb;
    margin-right: 10px;
}

.contentDiv
{
    margin-top: 55px;
}
